@font-face {
  font-family: "Classic";
  src: url(../font/ClassicoBold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Classic", "Courier New", "sans-serif";
  font-size: 1rem;
}

#header {
  position: relative;
}
#header .logo-container {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: all ease 0.5s;
}
#header .logo-container .logo {
  font-size: 7rem;
  font-weight: 900;
  padding: 4rem 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.7s;
}
#header .header-content .navbar {
  margin-bottom: 1rem;
  transition: all 0.7s;
}
#header .header-content .navbar li a {
  padding: 0 2rem;
  color: #333;
}
#header .header-content .navbar li a:hover {
  color: #808080;
}
#header .header-content .header-icon i {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
  color: #333;
}
#header .header-content .header-icon i:hover {
  color: #808080;
}
#header .header-content .header-img {
  background-image: url(../img/header-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

#main {
  text-align: center;
}
#main .main-h2 {
  color: #333;
  font-size: 4rem;
  font-weight: 900;
  padding-top: 7rem;
}
#main .main-p {
  color: #808080;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  padding-bottom: 8rem;
}

.pages-gallery {
  display: grid;
  grid-template-rows: repeat(3, 27rem) 10rem;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 0 2rem;
  grid-template-areas: "projects projects projects projects about about" "projects projects projects projects honors honors" "press press press contact contact contact" "press press press contact contact contact";
}
.pages-gallery .projects-page {
  grid-area: projects;
}
.pages-gallery .about-page {
  grid-area: about;
}
.pages-gallery .honors-page {
  grid-area: honors;
}
.pages-gallery .press-page {
  grid-area: press;
}
.pages-gallery .contact-page {
  grid-area: contact;
}
.pages-gallery .projects-page,
.pages-gallery .about-page,
.pages-gallery .honors-page,
.pages-gallery .press-page,
.pages-gallery .contact-page {
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s;
}
.pages-gallery .projects-page img,
.pages-gallery .about-page img,
.pages-gallery .honors-page img,
.pages-gallery .press-page img,
.pages-gallery .contact-page img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease 0.8s;
}
.pages-gallery .projects-page p a,
.pages-gallery .about-page p a,
.pages-gallery .honors-page p a,
.pages-gallery .press-page p a,
.pages-gallery .contact-page p a {
  color: #333;
  font-weight: 900;
  font-size: 2.7rem;
  padding: 0.3rem;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pages-gallery .projects-page:hover,
.pages-gallery .about-page:hover,
.pages-gallery .honors-page:hover,
.pages-gallery .press-page:hover,
.pages-gallery .contact-page:hover {
  filter: brightness(107%);
}
.pages-gallery .projects-page:hover img,
.pages-gallery .about-page:hover img,
.pages-gallery .honors-page:hover img,
.pages-gallery .press-page:hover img,
.pages-gallery .contact-page:hover img {
  transform: scale(1.1);
}

#footer {
  text-align: center;
  margin: 7rem 2rem;
}
#footer h2 {
  color: #333;
  font-size: 3rem;
}
#footer p {
  color: #808080;
  font-size: 1rem;
}
#footer button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0.3rem;
  border-radius: 0.3rem;
  transition: all 0.3s;
}
#footer button a {
  border: 1px solid #333;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  transition: all 0.3s;
}
#footer button:hover {
  background-color: #808080;
}
#footer button:hover a {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
#footer .contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .contact-info i {
  padding: 0.3rem;
  font-size: 1.1rem;
}
#footer .contact-info i:hover {
  color: #808080;
}

.copyright {
  text-align: center;
  border-top: 1px solid #333;
  margin: 0 2rem;
  padding: 0.5rem;
}
.copyright span {
  color: #808080;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 576px) {
  .pages-gallery {
    grid-template-rows: repeat(5, 27rem);
    grid-template-columns: 1fr;
    grid-template-areas: "projects" "about" "honors" "press" "contact";
  }
}/*# sourceMappingURL=styles.css.map */