// font
@font-face {
  font-family: "Classic";
  src: url(../font/ClassicoBold.woff2);
}

// colors
$darkGrey: #333;
$medGrey: #5f5f5f;
$grey: #808080;
$white: #f0f0f0;

// general style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Classic", "Courier New", "sans-serif";
  font-size: 1rem;
}
// header
#header {
  position: relative;
  // logo
  .logo-container {
    position: relative;
    height: 100vh;
    width: 100%;
    transition: all ease 0.5s;

    .logo {
      font-size: 7rem;
      font-weight: 900;
      padding: 4rem 0;
      //// margin-top: 2rem;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all ease 0.7s;
    }
  }
  // header content
  .header-content {
    // navbar
    .navbar {
      //// display: flex;
      //// justify-content: center;
      //// align-items: center;
      //// margin-top: 8rem;
      margin-bottom: 1rem;
      transition: all 0.7s;

      li a {
        padding: 0 2rem;
        color: $darkGrey;

        &:hover {
          color: $grey;
        }
      }
    }
    // header icon
    .header-icon {
      i {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1rem;
        font-size: 2rem;
        color: $darkGrey;

        &:hover {
          color: $grey;
        }
      }
    }
    // header image
    .header-img {
      background-image: url(../img/header-image.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
    }
    //
  }
}
// main
#main {
  text-align: center;

  .main-h2 {
    color: $darkGrey;
    font-size: 4rem;
    font-weight: 900;
    padding-top: 7rem;
  }
  .main-p {
    color: $grey;
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-bottom: 8rem;
  }
}
// gallery of the pages
.pages-gallery {
  display: grid;
  grid-template-rows: repeat(3, 27rem) 10rem;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 0 2rem;
  grid-template-areas:
    "projects projects projects projects about about"
    "projects projects projects projects honors honors"
    "store store store contact contact contact"
    "store store store contact contact contact";

  // different parts of the gallery
  .projects-page {
    grid-area: projects;
  }
  .about-page {
    grid-area: about;
  }
  .honors-page {
    grid-area: honors;
  }
  .store-page {
    grid-area: store;
  }
  .contact-page {
    grid-area: contact;
  }

  .projects-page,
  .about-page,
  .honors-page,
  .store-page,
  .contact-page {
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;

    // cover images in pages gallery
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.8s;
    }
    // cover text in pages gallery
    p {
      color: $darkGrey;
      font-weight: 900;
      font-size: 2.7rem;
      padding: 0.3rem;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      filter: brightness(107%);
      img {
        transform: scale(1.1);
      }
    }
  }
}
// footer
#footer {
  text-align: center;
  margin: 7rem 2rem;
  h2 {
    color: $darkGrey;
    font-size: 3rem;
  }
  p {
    color: $grey;
    font-size: 1rem;
  }
  button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.8rem 0.3rem;
    border-radius: 0.2rem;
    transition: all 0.3s;

    a {
      border: 1px solid $darkGrey;
      border-radius: 0.2rem;
      font-size: 1.2rem;
      padding: 0.7rem 1.5rem;
      transition: all 0.3s;
    }

    &:hover {
      background-color: $grey;
      a {
        color: $white;
        border: 1px solid $white;
      }
    }
  }
  // links
  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      padding: 0.3rem;
      font-size: 1.1rem;

      &:hover {
        color: $grey;
      }
    }
  }
}
// copyright
.copyright {
  text-align: center;
  border-top: 1px solid $darkGrey;
  margin: 0 2rem;
  padding: 0.5rem;

  span {
    color: $grey;
  }
}

// Responsive
@media screen and (max-width: 768px) {
  * {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 576px) {
  .pages-gallery {
    grid-template-rows: repeat(5, 27rem);
    grid-template-columns: 1fr;
    grid-template-areas:
      "projects"
      "about"
      "honors"
      "store"
      "contact";
  }
}
